@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Site Variables */
:root {
  /* Colors */
  --color-primary-background: var(--color-light-pink);
  --color-secondary-background: var(--color-beige);

  --color-primary-font: var(--color-black);

  --color-primary-border: var(--color-pink);
  --color-secondary-border: var(--color-light-blue);

  --color-primary-shadow: var(--color-dark-black);

  --color-primary-cta: var(--color-pink);
  --color-secondary-cta: var(--color-light-blue);

  --color-dark-black: #1E1E1E;
  --color-black: #2C2B2B;
  --color-dark-blue: #0C4768;
  --color-light-blue: #96D7CE;
  --color-red: #F16E52;
  --color-yellow: #F9B95A;
  --color-pink: #F7D5E3;
  --color-light-pink: #FBEDF2;
  --color-beige: #f9f6f4;

  /* Fonts */
  --ff-primary: "Bebas Neue";

  /* Font weight */
  --fw-regular: 400;
  --fw-medium: 550;
  --fw-bold: 700;

  /* Font size */
  --fs-regular: 0.875rem;
  /* 14px */
  --fs-s: 0.75rem;
  /* 12px */
  --fs-m: 1.125rem;
  /* 18px */
  --fs-l: 1.25rem;
  /* 20px */
  --fs-xl: 1.5rem;
  /* 24px */
  --fs-xxl: 2.5rem;
  /* 40px */

  /* Border */
  --bw-regular: 5px;
}

:root {
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-weight: var(--fw-regular);
  font-size: var(--fs-regular);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--color-primary-font);
}